<div class="main-section dark">
  <div class="w-container">
    <div class="section-heading">
      <h2 class="white">Stay in Touch</h2>
      <div class="med-divider"></div>
    </div>
    <div class="form-wrapper w-form">
      <form id="email-form" name="email-form" data-name="Email Form" class="w-clearfix">
        <input type="email" id="email" name="email" data-name="Email" placeholder="Enter your email address"
          maxlength="256" required="" class="field w-input" />
        <input type="submit" value="Submit" data-wait="Please wait..." class="submit-button btn btn-warning" />
      </form>
      <div class="success-message w-form-done">
        <p>Thank you! Your submission has been received!</p>
      </div>
      <div class="w-form-fail">
        <p>Oops! Something went wrong while submitting the form</p>
      </div>
    </div>
  </div>
  <!--div class="footer-section">
        <div class="w-container">
            <div class="w-row">
                <div class="w-col w-col-4 w-col-small-4">
                    <a href="/" aria-current="page" class="footer-logo w-inline-block w--current">
                        <div class="long-text">Escape.</div>
                    </a>
                </div>
                <div class="footer-links w-col w-col-8 w-col-small-8">
                    <a href="/" aria-current="page" class="footer-link w--current">Home</a>
                    <a href="/categories" class="footer-link">Categories</a>
                    <a href="/about" class="footer-link">About</a>
                    <a href="/contact" class="footer-link">Contact</a>
                </div>
            </div>
        </div>
    </div-->
</div>