<div *ngIf="show">
    <app-my-account></app-my-account>
    <div class="container-fluid pl-4">
        <div class="story-content">
            <form [formGroup]="createStory" (ngSubmit)="writeStory()">
                <h2 class="form-title">Write a story</h2>
                <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Success!</strong> Meme added successfully.
                    <button type="button" (click)="closeAlert()" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="form-group">
                    <label for="name">Meme Story name with unique number</label>
                    <input type="text" class="form-input" formControlName="name" />
                </div>
                <div class="form-group">
                    <label class="form-label" for="storyImage">Meme image</label>
                    <input type="file" class="form-control form-control-sm form-control-plaintext"
                        (change)="onFileSelected($event)" formControlName="storyImage" accept="image/*" />
                </div>
                <div class="form-group" style="display: none;">
                    <label for="description">Short description</label>
                    <textarea class="form-input form-control" type="text" formControlName="description"
                        placeholder="one line/ short description"></textarea>
                </div>
                <div class="form-group form-row" style="display: none;">
                    <div class="col">
                        <label for="category">Category</label>
                        <select class="custom-select custom-select" formControlName="category">
                            <option *ngFor="let category of categories" [value]="category.id">
                                {{ category.name }}
                            </option>
                        </select>
                    </div>
                    <div class="col" style="display: none;">
                        <label for="episode">Episode no</label>
                        <input type="text" class="form-input custom-select" formControlName="episode" placeholder="1"
                            readonly />
                    </div>
                </div>
                <div class="form-group form-row" style="display: none;">
                    <label for="story">Story</label>
                    <ejs-richtexteditor [toolbarSettings]="tools" height="400px" formControlName="story">
                    </ejs-richtexteditor>
                </div>
                <div class="form-group">
                    <button mat-raised-button color="accent" type="submit" class="category-link btn btn-lg">Submit
                        Meme</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container-dileepan" *ngIf="!show">
    <div class="vertical-center">
        <mat-spinner></mat-spinner>
    </div>
</div>