<div class="container-fluid" *ngIf="login">
  <app-my-account></app-my-account>
  <div class="row">
    <div class="col-lg-4 pb-5 pt-5" *ngIf="show.profile">
      <div class="author-card pb-3">
        <!-- <div class="author-card-cover" style="background-image: url(https://demo.createx.studio/createx-html/img/widgets/author/cover.jpg);"><a class="btn btn-style-1 btn-white btn-sm" href="#" data-toggle="tooltip" title="" data-original-title="You currently have 290 Reward points to spend"><i class="fa fa-award text-md"></i>&nbsp;290 points</a></div> -->
        <div class="author-card-profile">
          <img data-w-expand="authors" src="{{ profile.image }}" alt="" class="author-photo pt-3" />
          <!-- <div class="author-card-avatar pt-2"><img src="{{user.photoUrl}}" alt="{{user.name}}">
                    </div> -->
          <div class="author-card-details">
            <h5 class="author-card-name text-lg">{{ profile.name }}</h5>
            <br>
            <span class="author-card-position">Joined on &nbsp;:&nbsp;{{ profile.created_at }}</span>
            <span class="author-card-position">Email &nbsp;:&nbsp;{{ profile.email }}</span>
            <br>
            <span class="example-spacer"></span>
            <button mat-raised-button color="accent" class="btn btn-sm" type="button" (click)="open(mymodal)">Update
              Profile</button>
          </div>
        </div>
      </div>
      <div class="wizard">
        <div class="card">
          <div class="card-block">
            <h5 class="card-title">&nbsp;Bio</h5>
            <div class="card-text author-bio-npd">
              <p> {{ profile.description }} </p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-block">
            <div class="card-text author-bio-npd">
              <p><b>Poetic name&nbsp;:</b>&nbsp;&nbsp; {{ profile.poetic_name }} </p>
              <p><b>Total stories&nbsp;:</b>&nbsp;&nbsp; {{ profile.story }}</p>
              <p><b>Total episodes&nbsp;:</b>&nbsp;&nbsp;{{ profile.episode }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 pb-5 pt-5" *ngIf="!show.profile">
      <mat-spinner></mat-spinner>
    </div>

    <!-- Orders Table-->
    <div class="col-lg-8 pb-5 pt-5" *ngIf="show.story">
      <!-- <div class="d-flex justify-content-end pb-3">
                <div class="form-inline">
                    <label class="text-muted mr-3" for="order-sort">Sort Orders</label>
                    <select class="form-control" id="order-sort">
                        <option>All</option>
                        <option>Delivered</option>
                        <option>In Progress</option>
                        <option>Delayed</option>
                        <option>Canceled</option>
                    </select>
                </div>
            </div> -->
      <div class="table-responsive" *ngIf="authorStories.stories.length > 0">
        <table class="table table-hover">
          <thead class="thead-dark">
            <tr>
              <th>Story name</th>
              <th>Category</th>
              <th>Views</th>
              <th>Like</th>
              <th>Dislike</th>
              <th>Options</th>
              <th>Last Modified</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let story of authorStories.stories">
              <td>
                <a class="npd-text"
                  routerLink="/{{ story.story.category }}/கதை/{{ authorStories.author.name}}/{{ story.story.id }}/{{story.story.name}}/1">{{
                  story.story.name }}</a>
              </td>
              <td>{{ story.story.category }}</td>
              <td>{{ story.story.views }}</td>
              <td>{{ story.story.like }}</td>
              <td>{{ story.story.dislike }}</td>
              <td>

                <button type="button" class="btn btn-dark btn-sm" data-toggle="tooltip" data-placement="top"
                  title="copy story link"
                  [cdkCopyToClipboard]="copyLink(story.story.category, authorStories.author.name, story.story.id , story.story.name)">
                  <i class="far fa-copy"></i></button>
                <button type="button" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top"
                  title="To view your story"
                  routerLink="/{{ story.story.category }}/கதை/{{ authorStories.author.name}}/{{ story.story.id }}/{{story.story.name}}/1">
                  <i class="fa fa-eye"></i>
                </button>
                <button type="button" class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="top"
                  title="Add new episode to your story" routerLink="/கதை/கதை/add-episode/{{ story.story.id }}">
                  <i class="fa fa-plus"></i>
                </button>
                <button type="button" class="btn btn-warning btn-sm" data-toggle="tooltip" data-placement="top"
                  title="Edit your story" routerLink="/கதை/கதை/edit-story/{{ story.story.id }}">
                  <i class="fa fa-edit"></i>
                </button>
              </td>
              <td>{{ story.story.lastModified }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="authorStories.stories.length == 0">
        <br> <br> <br> <br>
        <div class="author-card pb-3">
          <div class="author-card-profile">
            <div class="author-card-details">
              <h5 class="author-card-name">You are new here. No stories yet</h5>
              <br><br>
              <span class="author-card-position">This is the time to create your first story!!!!!</span>
              <br>
              <button mat-raised-button color="accent" class="btn btn-lg" type="button" routerLink="/create-story">Add
                my
                first story</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8 pb-5 pt-5" *ngIf="!show.story">
      <mat-spinner></mat-spinner>
    </div>
  </div>
</div>
<div class="jumbotron bg-transparent text-center" *ngIf="!login && show.profile">
  <div *ngIf="!login" class="card text-center npd-logingcard">
    <div class="card-block">
      <!-- <h4 class="card-title">Not signed in</h4> -->
      <br /><br />
      <p class="card-text">Sign in with <br /><br /></p>
    </div>
    <div class="card-block">
      <button *ngIf="!login" (click)="signInWithGoogle()" class="btn btn-danger">
        Google <i class="fa fa-google-plus"></i>
      </button>
    </div>
    <br /><br />
  </div>
</div>

<div class="container-dileepan" *ngIf="!login">
  <div class="vertical-center">
    <mat-spinner></mat-spinner>
  </div>
</div>

<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <!-- <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="false">×</span>
    </button> -->
    <!-- <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button> -->
  </div>
  <div class="modal-body">
    <form [formGroup]="profileForm" (ngSubmit)="updateProfile()">
      <div class="form-group">
        <div *ngIf="show.imageError" class="text-danger">Image size should not greather than 100kb</div>
        <label class="form-label" for="storyImage">Profile photo</label>
        <input type="file" class="form-control form-control-sm form-control-plaintext" (change)="onFileSelected($event)"
          formControlName="storyImage" accept="image/*" />
      </div>
      <div class="form-group">
        <label for="name">Poetic name</label>
        <input class="form-input custom-select-sm" required matTooltip="Poetic name" matTooltipPosition="above"
          formControlName="name" />
      </div>
      <div class="form-group">
        <label for="description">Bio</label>
        <input class="form-input custom-select-sm" required matTooltip="About you" matTooltipPosition="above"
          formControlName="description" />
      </div>
      <div class="modal-footer">
        <div class="form-group  form-row">
          <div class="col">
            <button mat-raised-button color="accent" type="submit" class="category-link btn btn-lg"
              (click)="modal.close('Save click')"> Update Profile </button>
          </div>
          <div class="col">
            <button mat-raised-button type="button" class="btn btn-warning" (click)="modal.close('Save click')"> Close
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-template>