<div>
  <div class="container-fluid">
    <div class="row" style="padding-top: 30px; padding-bottom: 30px;">
      <marquee><strong style="font-weight:bolder;">Dear writers, இந்த தளத்தில் எழுத விரும்பும் எழுத்தாளர்கள்
          writerudhi@gmail.com என்ற மின்னஞ்சல் முகவரிக்கு
          தொடர்பு கொள்ளுங்கள்..</strong></marquee>
    </div>
  </div>
  <app-carousel></app-carousel>
  <ng-adsense  [adClient]="'{{data_ad_client}}'" [adSlot]="'{{data_ad_slot1}}'"></ng-adsense>
  <!-- <ng-adsense></ng-adsense> -->
  <!-- <app-category-highlights></app-category-highlights> -->
  <app-categories></app-categories>
  <ng-adsense  [adClient]="'{{data_ad_client}}'" [adSlot]="'{{data_ad_slot1}}'"></ng-adsense>
  <ng-adsense  [adClient]="'{{data_ad_client}}'" [adSlot]="'{{data_ad_slot2}}'"></ng-adsense>
  <app-feature-post></app-feature-post>
  <ng-adsense  [adClient]="'{{data_ad_client}}'" [adSlot]="'{{data_ad_slot1}}'"></ng-adsense>
  <ng-adsense  [adClient]="'{{data_ad_client}}'" [adSlot]="'{{data_ad_slot2}}'"></ng-adsense>
  <app-recent-post></app-recent-post>
  <ng-adsense  [adClient]="'{{data_ad_client}}'" [adSlot]="'{{data_ad_slot1}}'"></ng-adsense>
  <ng-adsense  [adClient]="'{{data_ad_client}}'" [adSlot]="'{{data_ad_slot2}}'"></ng-adsense>
  <div class="full-divide"></div>
  <!--app-stay-in-touch></app-stay-in-touch-->
  <router-outlet></router-outlet>
</div>