<div>
  <div class="container-fluid">
    <div class="row" style="padding-top: 30px; padding-bottom: 30px;">
      <marquee><strong style="font-weight:bolder;">Dear writers, இந்த தளத்தில் எழுத விரும்பும் எழுத்தாளர்கள் writerudhi@gmail.com என்ற மின்னஞ்சல் முகவரிக்கு
        தொடர்பு கொள்ளுங்கள்..</strong></marquee>
    </div>
  </div>
  <app-carousel></app-carousel>
  <ng-adsense></ng-adsense>
  <!-- <app-category-highlights></app-category-highlights> -->
  <app-categories></app-categories>
  <app-feature-post></app-feature-post>
  <app-recent-post></app-recent-post>
  <div class="full-divide"></div>
  <!--app-stay-in-touch></app-stay-in-touch-->
  <router-outlet></router-outlet>
</div>