<div>
  <div class="container-fluid">
    <div class="row" style="padding-top: 30px; padding-bottom: 30px;">
      <marquee><strong style="font-weight:bolder;">Dear writers, இந்த தளத்தில் எழுத விரும்பும் எழுத்தாளர்கள்
          diyaelango22@gmail.com என்ற மின்னஞ்சல் முகவரிக்கு
          தொடர்பு கொள்ளுங்கள்..</strong></marquee>
    </div>
  </div>
  <app-carousel></app-carousel>
  <div class="row">
    <div class="col-sm-12 col-md-6 p3">
      <ng-adsense [adClient]="'ca-pub-1964144255874029'" [adSlot]="'7651701021'"></ng-adsense>
    </div>
    <div class="col-sm-12 col-md-6 p3">
      <ng-adsense [adClient]="'ca-pub-1964144255874029'" [adSlot]="'6995629868'"></ng-adsense>
    </div>
  </div>
  <!-- <ng-adsense></ng-adsense> -->
  <!-- <app-category-highlights></app-category-highlights> -->
  <app-categories></app-categories>
  <div class="row">
    <div class="col-sm-12 col-md-6 p3">
      <ng-adsense [adClient]="'ca-pub-1964144255874029'" [adSlot]="'7651701021'"></ng-adsense>
    </div>
    <div class="col-sm-12 col-md-6 p3">
      <ng-adsense [adClient]="'ca-pub-1964144255874029'" [adSlot]="'6995629868'"></ng-adsense>
    </div>
  </div>
  <app-feature-post></app-feature-post>
  <div class="row">
    <div class="col-sm-12 col-md-6 p3">
      <ng-adsense [adClient]="'ca-pub-1964144255874029'" [adSlot]="'7651701021'"></ng-adsense>
    </div>
    <div class="col-sm-12 col-md-6 p3">
      <ng-adsense [adClient]="'ca-pub-1964144255874029'" [adSlot]="'6995629868'"></ng-adsense>
    </div>
  </div>
  <app-recent-post></app-recent-post>
  <div class="row">
    <div class="col-sm-12 col-md-6 p3">
      <ng-adsense [adClient]="'ca-pub-1964144255874029'" [adSlot]="'7651701021'"></ng-adsense>
    </div>
    <div class="col-sm-12 col-md-6 p3">
      <ng-adsense [adClient]="'ca-pub-1964144255874029'" [adSlot]="'6995629868'"></ng-adsense>
    </div>
  </div>
  <div class="full-divide"></div>
  <!--app-stay-in-touch></app-stay-in-touch-->
  <router-outlet></router-outlet>
</div>