<div class="category-section">
  <div class="container-fluid" >
    <br>
    <div class="row">
      <div class="category-wrapper col-sm-3">
        <button mat-raised-button color="accent" class="category-link btn btn-lg" routerLink="/account">Profile</button>
      </div>
      <div class="category-wrapper col-sm-3">
        <button mat-raised-button color="accent" class="category-link btn btn-lg" routerLink="/create-story">Create
          Story</button>
      </div>
      <div class="category-wrapper col-sm-3">
        <button mat-raised-button color="accent" class="category-link btn btn-lg"
          routerLink="/கதை/கதை/add-episode/latest">Add
          Episode</button>
      </div>
      <div class="category-wrapper col-sm-3">
        <button mat-raised-button color="accent" class="category-link btn btn-lg"
          routerLink="/கதை/கதை/edit-story/latest">Edit
          story</button>
      </div>
    </div>
  </div>
</div>
<br>
<router-outlet></router-outlet>