<div *ngIf="show">
  <app-my-account></app-my-account>
  <div class="container-fluid pl-4">
    <div class="story-content">
      <form [formGroup]="editStoryForm" (ngSubmit)="writeStory()">
        <h2 class="form-title">Edit your story</h2>
        <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
          <strong>Success!</strong> Episode updated successfully.
          <button type="button" (click)="closeAlert()" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="form-group">
          <label for="name">Story name</label>
          <input matInput class="form-input custom-select-sm" [matAutocomplete]="auto" [formControl]="nameControl"
            required matTooltip="Type to filter the Story" matTooltipPosition="above" />
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let storyobj of filteredStories | async" [value]="storyobj.story.name">
              <span>{{ storyobj.story.name }}</span>
            </mat-option>
          </mat-autocomplete>
        </div>
        <div class="form-group" *ngIf="selectedStory != undefined || selectedStory != null">
          <label for="description">Short description</label>
          <textarea matInput class="form-input form-control custom-select-sm" type="text"
            formControlName="description">{{ selectedStory.story.description }}</textarea>
        </div>
        <div class="form-group form-row" *ngIf="selectedStory != undefined || selectedStory != null">
          <div class="col">
            <label for="category">Category</label>
            <select class="custom-select custom-select" formControlName="category">
              <option *ngFor="let category of categories" [value]="category.id">
                {{ category.name }}
              </option>
            </select>
          </div>
          <div class="col" *ngIf="viewStory != undefined || viewStory != null">
            <label for="episode">Episode no</label>
            <select class="custom-select custom-select" (change)="episodeChange($event)" formControlName="episode">
              <option *ngFor="let episode of viewStory.story.episode" [value]="episode">
                {{ episode }}
              </option>
            </select>
          </div>
        </div>
        <div class="form-group form-row">
          <label for="story">Story</label>
          <ejs-richtexteditor [toolbarSettings]="tools" [fontSize]='fontSize' formControlName="story">
          </ejs-richtexteditor>
        </div>
        <div class="form-group" *ngIf="selectedStory != undefined || selectedStory != null">
          <button mat-raised-button color="accent" type="submit" class="category-link btn btn-lg">Update
            Episode</button>
        </div>
      </form>
      <div *ngIf="selectedStory == undefined || selectedStory == null">
        <button mat-raised-button color="accent" class="category-link btn btn-lg"
          (click)="openSnackBar('No story Selected','Select Story')">Update Episode</button>
      </div>
    </div>
  </div>
</div>
<div class="container-dileepan" *ngIf="!show">
  <div class="vertical-center">
    <mat-spinner></mat-spinner>
  </div>
</div>